/*Play with the values
:root{
  main-color: tomato;
  radius: 7px;
  skew: 25deg;
}

body{
  font-family:Helvetica Neue, Helvetica, sans-serif;
  background: var(main-color);
}

.skew-menu{
  text-align:center;
  margin-top:9em;
}

.skew-menu ul{
  display:inline-block;
  margin:0;
  padding:0;
  list-style:none;
  transform:skew(-var(skew));
}

.skew-menu ul li{
  background:#fff;
  float:left;
  border-right:1px solid #eee;
  box-shadow:0 1px 1px rgba(0,0,0,0.1);
  text-transform:uppercase;
  color:#555;
  font-weight:bolder;
  transition:all 0.3s linear;

}
  .skew-menu ul li:first-child{
    border-radius: var(radius) 0 0 var(radius);
  }
  
  .skew-menu ul li:last-child{
    border-right:none;
    border-radius:0 var(radius) var(radius) 0;
  }
  
  .skew-menu ul li:hover{
    background:#eee;
    color: var(main-color);
  }
  
  a{
    display:block;
    padding:1em 2em;
    color:inherit;
    text-decoration:none;
    transform:skew(var(skew));
  }
*/
img{
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1, h3{
  text-align: center;
  font-style: italic;
}

#Overskrift{
  font-size: 80px;
  font-weight: 100;
}

input, button{
	width: 100%;
	height: 40px;
	font-size: 15px;
	padding: 12px 20px;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
  box-sizing: border-box;
}

#inpCheckbox{
  height: 20px;
  margin: right;

}

#inpEmail, #inpLoginEmail, #inpLoginPassword, #inpLoginButton{
	width: 200%;
}

td{
  width: 300px;
}

table{
	width: 600px;
  line-height: 25px;
  padding: 1%;
  margin: auto;
  width: 40%;
}

/*form{
    padding: 1%;
    margin: auto;
    width: 40%;
  }*/

  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 40px;
    overflow: hidden;
    background-color: lightgray;
  }
  
  nav #liProfile, #liHjem{
    float: left;
  }

  nav li {
    float:right;
  }
  
  nav li a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 10px;
  }
  
  nav li a:hover {
    background-color: gray;
  }
  