<!-- templates/login.html -->

{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Login</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}
            </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="/login">
            <table>
                <tbody>
                    <tr>
                        <td>Email</td>
                    </tr>
                    <tr>
                        <td><input id="inpLoginEmail" type="email" name="email" placeholder="Your Email" autofocus=""></td>
                    </tr>
                    <tr>
                        <td>Password</td>
                    </tr>
                    <tr>
                        <td><input id=inpLoginPassword type="password" name="password" placeholder="Your Password"></td>
                    </tr>
                    <tr>
                        <td><input id="inpCheckbox" type="checkbox"></td>
                        <td>Remember me</td>
                    </tr>
                    <tr>
                        <td><button id="inpLoginButton">Login</button></td>
                    </tr>
                </tbody>
            </table>
            <!--<div class="field">
                <div class="control">
                    <input class="input is-large" type="email" name="email" placeholder="Your Email" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" name="password" placeholder="Your Password">
                </div>
            </div>
            <div class="field">
                <label class="checkbox">
                    <input type="checkbox">
                    Remember me
                </label>
            </div>
            <button class="button is-block is-info is-large is-fullwidth">Login</button>-->
        </form>
    </div>
</div>
{% endblock %}